@font-face {
  font-family: "sweet-peas";
  src: url("fonts/SweetPeas.ttf");
}
@font-face {
  font-family: "BeautyDemo";
  src: url("fonts/BeautyDemo.ttf");
}
@font-face {
  font-family: "BabyGirl";
  src: url("fonts/BabyGirl.otf");
}
@font-face {
  font-family: "RobotoMono";
  src: url("fonts/RobotoMono.ttf");
}
#root {
  height: 100vh;
  width: 100vw;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.image {
  height: 500px;
  width: 55vw;
  margin-top: 50px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  z-index: 99;
}
.container {
  filter: blur(10px);
  width: 100vw;
  height: 100vh;
  background-position: center;

  position: absolute;
  top: 0px;
  background-size: cover;
  z-index: -1;
}
.text {
  color: white;
  margin: 2% 0px;
}
.error-div {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: left;
  justify-content: center;
  height: 100vh;
  width: 65vw;
}
#err {
  font-family: "Arial";
  font-size: 20px;
  margin-bottom: 20px;
}
.error {
  background: #f6f8fa;
  line-height: 30px;
  border-radius: 5px;
  font-family: "RobotoMono";
  font-size: 17px;
  color: black;
  padding: 20px 25px;
}

.quote {
  display: inline-block;
  font-family: "BabyGirl";
  font-size: 20px;

  text-align: center;
  line-height: 23px;
  width: 55vw;
  max-height: 80px;
}
.author {
  font-family: "BeautyDemo";
  margin-top: 5px;
  font-size: 25px;
}
button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.loading {
  display: flex;
  align-items: center;
}
#load {
  margin-top: -15%;
}
.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}

@media (max-width: 1200px) {
  .image {
    width: 70vw;
  }
  #load {
    margin-bottom: 80px;
  }
}
@media (max-width: 920px) {
  #load {
    margin-bottom: 300px;
  }
}
@media (max-width: 820px) {
  button {
    right: 50%;
    transform: translateX(50%);
    bottom: 50px;
  }
  .image {
    height: 400px;
  }
}

@media (max-width: 780px) {
  .image {
    height: 300px;
  }
  #load {
    margin-bottom: 400px;
  }
}
@media (max-width: 690px) {
  #load {
    margin-bottom: 500px;
  }
  .sp-div {
    margin-bottom: 150px;
  }
  button {
    bottom: 150px;
  }
}
@media (max-width: 500px) {
  .image {
    width: 90vw;
    height: 230px;

    margin-top: 100px;
  }
  .loading {
    height: 100px;
  }
  #load {
    margin-bottom: 570px;
  }
  button {
    bottom: 100px;
  }
  .quote {
    font-size: 18px;
    width: 90vw;
    max-height: 200px;
  }
  .text {
    margin-top: 30px;
  }
  #err {
    font-size: 16px;
  }
  .error {
    font-size: 18px;
    width: 70vw;
  }
  .error-div {
    width: 90vw;
    align-items: center;
  }
}
@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
